<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>روضة المأمون</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->

    <link href="{{ asset('bundles/acmedemo/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/acmedemo/css/freelancer.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ asset('bundles/acmedemo/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/bootstrap-rtl.css') }}">

    <link href="{{ asset('bundles/acmedemo/css/custom_show_all.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="btn-group">
  <button type="button" class="btn btn-info">الكتب</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/book/">عرض كل كتب الروضة </a></li>
    <li class="divider"></li>
    <li><a href="/book/add">أضافة كتاب جديد </a></li>
  </ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-success">اللينكات</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/link/">عرض كل اللينكات </a></li>
    <li class="divider"></li>
    <li><a href="/link/add">أضافة لينك جديد</a></li>
  </ul>
</div>
<h1>كتب الروضة </h1>
<a href="/book/add">أدخال كتاب جديد  </a>
<br>
<br>

<table class="table table-responsive table-striped table-condensed">
<tr >

<th>أسم الكتاب </th>
<th>كود الكتاب</th>
<th>الكاتب</th>
<th>دار النشر</th>

</tr>
{% for book in books %}
	<tr>
		<td>{{ book.name }}</td>
		<td>{{ book.code }}</td>
		<td>{{ book.author }}</td>
		<td>{{ book.publishinghouse }}</td>
		
		<td><a href="{{ path('acme_book_show', {'id':  book.id  }) }}">عرض</a></td>
 		<td><a href="{{ path('acme_book_delete', {'id':  book.id  }) }}">مسح</a>
 		<td><a href="{{ path('acme_book_edit', {'id':  book.id  }) }}">تعديل</a>
	</tr>
{% endfor %}
</table>
    <!-- jQuery -->
    <script src="{{ asset('bundles/acmedemo/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/acmedemo/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/acmedemo/js/freelancer.js') }}"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{{ asset('bundles/acmedemo/js/classie.js') }}"></script>
    <script src="{{ asset('bundles/acmedemo/js/cbpAnimatedHeader.js') }}"></script>

</body>
</html>
